.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

footer {
    height: 130px;
    background-color: orange;
    font-size: 30px;
    font-weight: bold;
    color: darkmagenta;
    text-align: left;
}
